[Unit]
Description=Grim Repeater Wi-Fi/Ethernet smart repeater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/grimr_up.sh   # <— must match the BIN path
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
